# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.sln text eol=crlf merge=union 
*.csproj merge=union

# Standard to msysgit
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain

*.ascx text
*.cmd text
*.coffee text
*.config text
*.cs text diff=csharp 
*.css text
*.less text
*.cshtml text
*.htm text
*.html text
*.js text
*.msbuild text
*.resx text merge=union
*.txt text
*.xml text

*.bmp binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary